@tailwind base;
@tailwind components;
@tailwind utilities;
.herobg1 {
  background-image: url("../public/images/hero-images.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.9; */
}
.herobg2 {
  background-image: url("../public/images/user-smile-fill.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /* opacity: 0.9; */
}
/* Thin */
@font-face {
  font-family: "Bicyclette";
  src: url("/fonts/Bicyclette-Thin.eot");
  src: local("Bicyclette Thin"), local("Bicyclette-Thin"),
    url("/fonts/Bicyclette-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Bicyclette-Thin.woff2") format("woff2"),
    url("/fonts/Bicyclette-Thin.woff") format("woff"),
    url("/fonts/Bicyclette-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Bicyclette";
  src: url("/fonts/Bicyclette-Bold.eot");
  src: local("Bicyclette Bold"), local("Bicyclette-Bold"),
    url("/fonts/Bicyclette-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Bicyclette-Bold.woff2") format("woff2"),
    url("/fonts/Bicyclette-Bold.woff") format("woff"),
    url("/fonts/Bicyclette-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "Bicyclette";
  src: url("/fonts/Bicyclette-Regular.eot");
  src: local("Bicyclette Regular"), local("Bicyclette-Regular"),
    url("/fonts/Bicyclette-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Bicyclette-Regular.woff2") format("woff2"),
    url("/fonts/Bicyclette-Regular.woff") format("woff"),
    url("/fonts/Bicyclette-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Black */
@font-face {
  font-family: "Bicyclette";
  src: url("/fonts/Bicyclette-Black.eot");
  src: local("Bicyclette Black"), local("Bicyclette-Black"),
    url("/fonts/Bicyclette-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Bicyclette-Black.woff2") format("woff2"),
    url("/fonts/Bicyclette-Black.woff") format("woff"),
    url("/fonts/Bicyclette-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Thin */
.font-thin {
  font-family: "Bicyclette", sans-serif;
  font-weight: 100;
}

/* Bold */
.font-bold {
  font-family: "Bicyclette", sans-serif;
  font-weight: bold;
}

/* Regular */
.font-regular {
  font-family: "Bicyclette", sans-serif;
  font-weight: normal;
}

/* Black */
.font-black {
  font-family: "Bicyclette", sans-serif;
  font-weight: 900;
}

/* styles.css */
input:focus,
button:focus,
div:focus {
  outline: none !important;
}

.select-trigger:focus {
  outline: none !important;
}
